
@{
    ViewBag.Title = "Calendar";
}

<h2>Index</h2>
<link rel="stylesheet" href="@Url.Content("/Content/jquery-ui-1.7.2.custom.css")"  type="text/css" />
<link rel="stylesheet" href="@Url.Content("/Content/fullcalendar.css")"  type="text/css" />

<script type="text/javascript"
        src="@Url.Content("Scripts/jquery-1.11.3.min.js")">
</script>
<script type="text/javascript"
        src="@Url.Content("Scripts/jquery-ui-1.11.4.min.js")">
</script>
<script type="text/javascript"
        src="@Url.Content("Scripts/fullcalendar.min.js")">
</script>
<div id="calendar"></div>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        theme: true,
        header: {
            left: '',
            center: '',
            right: ''
        },
        defaultView: 'agendaDay',
        editable: false,
        events: "/Calendar/GetEvents/"
    });
});
</script>
