@model IEnumerable<Planeta_Online.Models.EventViewModelForAdmin>
@using Planeta_Online.Models
@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Till)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visitors)
        </th>
        <th>
            Дії
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.From.ToString("dd.mm.yyyy H:mm")
        </td>
        <td>
            @item.Till.ToString("dd.mm.yyyy H:mm")
        </td>
        <td>
            @Html.ActionLink(item.Visitors.ToString(), "Visitors", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Додати до афіші", "GoToFilePicker", new { id = item.Id, type=PosterCandidateType.Event  })
        </td>
    </tr>
}

</table>
