
@{
    ViewBag.Title = "Адміністратор";
}

<h2>Сторінка адміністратора</h2>
<h3>Доступні дії:</h3>
@Html.ActionLink("Заявки", "SubmittedEvents", new { }, new { @class = "btn btn-default" })<br /><br />
@Html.ActionLink("Події", "Events", new { }, new { @class = "btn btn-default" })<br /><br />
@Html.ActionLink("Книги", "Books", new { }, new { @class = "btn btn-default" })<br /><br />
@Html.ActionLink("Блог", "Blog", new { }, new { @class = "btn btn-default" })<br /><br />
@Html.ActionLink("Глобальна розсилка", "EmailAll", new { }, new { @class = "btn btn-default" })<br /><br />