@model IEnumerable<Planeta_Online.Models.EventApplication>

@{
    ViewBag.Title = "Заявки";
}

<h2>Зареєстровані події</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Till)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attachments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Till)
        </td>
        <td>
            <a href="@item.Attachments" target="_blank">@item.Attachments</a>
        </td>
        <td>
            @Html.ActionLink("Видалити", "DeleteEvent", new { id=item.Id }) |
            @Html.ActionLink("Додати до списку подій", "Confirm", new { id=item.Id}) |
            @Html.ActionLink("Надіслати подання", "SendApplication", new { id=item.Id })
        </td>
    </tr>
}

</table>
